body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f7f7;
    color: #222;
  }
  
  .events-row {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .event-box {
    flex: 0 0 calc(35% - 10px);
    max-width: calc(35% - 10px);
    margin: 0 5px 20px; /* Add some horispacing */
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 6px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
  }
  
  .event-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
  }
  
  .event-description {
    font-size: 13px;
    color: #444;
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
  }
  
  .event-location,
  .event-date,
  .event-time {
    font-size: 12px;
    color: #555;
    text-align: left;
    margin: 3px 0;
    font-family: 'Verdana', sans-serif;
  }
  

  
  .event-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 10px;
  }
