.events-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .event-box {
    flex: 1 1 30%;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background: #fafafa;
    text-align: center;
  }
  