
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
    margin-left: 270px;
    padding: 20px;
    margin-top: 86px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;

}

hr { 
    margin-bottom: 10px;
}

header {
    background-color: #f3f3f3;
    color: #000000;
    padding: 20px;
    border: 1px solid #ccc;
    width: 100%;
    position: relative;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}


.logo {
    display: flex;
    align-items: center; 
    gap: 10px;  
}

.logo-1 img {
    width: 100px;
    object-fit: contain;
    max-height: 83px;

}

.logo-2 img {
    width: 100px;
    object-fit: contain;
    max-height: 83px;

}

.right-side{ 
    display: flex;
    gap: 15px;
    align-items: center;
}
.nav-menu {
    display: flex;
    gap: 0px;

}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.nav-menu li {
    margin: 0;

}

.nav-menu a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    background-color: #f3f3f3;
    padding: 25px 25px; 
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    position: relative;
}

.nav-menu a:hover {
    color: #ff6358;

}

.nav-menu a:hover::before {
    content: "";
    position: absolute;
    top: -9px; 
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ff6348;
    opacity: 1;
}


.nav-menu a.active::before {
    content: "";
    position: absolute;
    top: -9px;  
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ff6348;
    opacity: 1;
}

.donate-button {
    margin-left: 20px;
}
.donate-button button {
    background-color: #e04819;
    border: none;
    padding: 13px 18px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.donate-button button a {
    color: #fff;
    text-decoration: none;
    display: block;

}

.donate-button button:hover {
    background-color: #ff4500;
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0, 0.2);
}

.sidebar {
    width: 275px;
    background-color: white;
    padding-top: 10px;
    position: fixed;
    top: 86px;
    left: 0;
    height: calc(100% - 80px);
    border-right: 1px solid #ccc;
    font-family: Arial, sans-serif;
    padding-right: 20px;

}

.sidebar-label {
    font-size: 15px;
    color: #8f8fa7;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sidebar-label:hover {
    color: #ff6348;
}

.sidebar ul { 
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.sidebar ul li {
    padding-bottom: 10px;
    text-align: left;
    margin: 0;

}

.sidebar ul li a {
    position: relative;
    text-decoration: none;
    color: #8f8fa7;
    font-size: 18px;
    display: block;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    width: calc(100% + 20px);
    transition: background-color 0.3s ease;
    margin: 0;

}


.sidebar ul li a img{
    width: 20px;
    height: 20px;
    margin-right: 30px;
    vertical-align: middle;

}

.sidebar ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 6px; 
    height: 100%;
    background-color: #ff6348; 
    opacity: 0;
    transition: opacity 0.3s ease;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.sidebar ul li a:hover::before  {
    opacity: 1;
}

.sidebar ul li a.active::before {
    opacity: 1;
    background-color: #ff6348; /* Optional: change color if needed */
    
}

.sidebar ul li a:hover {
    background-color: rgba(250, 191, 180, 0.3);
    color: #ff6348;

}

.sidebar img {
    width: 24px;
    height: 24px;
    transition: fill 0.3s ease;
}

.sidebar a:hover img {
    fill: #ff6348;
}

.main-content {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 20px;
    margin-left: 270px;
    margin-top: 86px;
    background-color: white;
    border-top: 1px solid #ddd;
    border: none;
}












.bottom-bar {
    position: fixed;
    background-color: #ff7e4f;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

.bottom-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 20px;
    margin-left: 270px;
    margin-bottom: 120px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;

}

.content-box {
    flex: 1 1 200px;
    margin: 10px;
    margin-bottom: 10px;

}

.content-row {
    display: flex;
    gap:10px;
    margin-bottom: 40px;
}

.content-box h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;

}

.content-box ul {
    list-style: none;
    padding: 0;

}

.content-box ul li {
    color: #666;
    font-size: 14px;
    margin-bottom: 6px;

}



.social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.social-icnons a {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    transition: transform 0.2s ease;
    text-decoration: none;
    color: black;
    
}

.social-icons a img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    transition: transform 0.2s ease;
    display: inline-block;
    vertical-align: middle;
    
}

.social-icons a:link, .social-icons a:visited {
    color: black; /* Ensure links are black even when visited */
}

.social-icons a:hover img {
    transform: scale(1.2);

}

