<aside class="sidebar" id="sidebar">
  <div class="sidebar-buttons">
    <ul>
      <li><a href="Home.html"><img src="Images/home.svg" alt="">Home</a></li>
      <li><a href="AboutUs.html"><img src="Images/about.svg" alt="">About Us</a></li>
      <li><a href="Histroy.html"><img src="Images/history.svg" alt="">Our History</a></li>
      <li><a href="DailyThoughts.html"><img src="Images/thought.svg" alt="">Daily Thoughts</a></li>
      <li><a href="Events.html"><img src="Images/calendar.svg" alt="">Events</a></li>
      <li><a href="Bhajans.html"><img src="Images/book.svg" alt="">Bhajan Books</a></li>
      <li><a href="Articles.html"><img src="Images/article.svg" alt="">Articles</a></li>
      <li><a href="ContactUs.html"><img src="Images/phone.svg" alt="">Contact Us</a></li>
      <li><a href="OurTeam.html"><img src="Images/team.svg" alt="">Our Team</a></li>
    </ul>
  </div>
</aside>
